body {
  margin: 0;
  overflow: hidden;
  background-color: lightblue;
}

.elevator-button1 {
  width: 5em;
  height: 5em;
  transform: rotateX(40deg);
  z-index: 2;
  position: absolute;
  bottom: 5em;
  left: 5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.elevator-button1 .elevator-button-layer1 {
  width: 5em;
  height: 5em;
  background-color: #f4593d;
  position: absolute;
  transition: 0.2s;
  outline: 0.75em solid white;
  box-shadow: 0 0 20px 0 rgb(154, 151, 151);
  border-radius: 2.5em;
}
:hover > .elevator-button1 .elevator-button-layer1 {
  background-color: #f55c41;
}
.elevator-button1 .elevator-button-layer2 {
  width: 5em;
  height: 5em;
  background-color: #f56046;
  position: absolute;
  transition: 0.2s;
  transform: translateY(-0.5em);
  border-radius: 2.5em;
}
:hover > .elevator-button1 .elevator-button-layer2 {
  background-color: #f5674d;
}
:active > .elevator-button1 .elevator-button-layer2 {
  transform: translateY(-0.25em);
}
.elevator-button1 .elevator-button-layer3 {
  width: 5em;
  height: 5em;
  background-color: #f5684e;
  position: absolute;
  transition: 0.2s;
  transform: translateY(-1em);
  border-radius: 2.5em;
}
:hover > .elevator-button1 .elevator-button-layer3 {
  background-color: #f67159;
}
:active > .elevator-button1 .elevator-button-layer3 {
  transform: translateY(-0.5em);
}
.elevator-button1 .elevator-button-layer4 {
  width: 5em;
  height: 5em;
  background-color: #f66f57;
  position: absolute;
  transition: 0.2s;
  transform: translateY(-1.5em);
  border-radius: 2.5em;
}
:hover > .elevator-button1 .elevator-button-layer4 {
  background-color: #f77b65;
}
:active > .elevator-button1 .elevator-button-layer4 {
  transform: translateY(-0.75em);
}
.elevator-button1 .elevator-button-layer5 {
  width: 5em;
  height: 5em;
  background-color: #f6765f;
  position: absolute;
  transition: 0.2s;
  transform: translateY(-2em);
  border-radius: 2.5em;
}
:hover > .elevator-button1 .elevator-button-layer5 {
  background-color: #f78671;
}
:active > .elevator-button1 .elevator-button-layer5 {
  transform: translateY(-1em);
}

.tooltip1 {
  position: absolute;
  bottom: 6.5em;
  left: 0.5em;
  z-index: 2;
  width: 10em;
  height: 10em;
  opacity: 0;
  transition: 0.2s;
}
:hover > .tooltip1 {
  opacity: 1;
}
.tooltip1 .info-bubble {
  height: 8em;
  width: 12.5em;
  animation: info-bubble 0.5s infinite linear;
}
.tooltip1 p {
  position: absolute;
  top: -0.75em;
  left: 0em;
  font-size: 1.6em;
  height: 3.5em;
  width: 7.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.elevator-button2 {
  width: 5em;
  height: 5em;
  transform: rotateX(40deg);
  z-index: 2;
  position: absolute;
  bottom: 5em;
  left: 15em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.elevator-button2 .elevator-button-layer1 {
  width: 5em;
  height: 5em;
  background-color: #3d90f4;
  position: absolute;
  transition: 0.2s;
  outline: 0.75em solid white;
  box-shadow: 0 0 20px 0 rgb(154, 151, 151);
  border-radius: 2.5em;
}
:hover > .elevator-button2 .elevator-button-layer1 {
  background-color: #4192f5;
}
.elevator-button2 .elevator-button-layer2 {
  width: 5em;
  height: 5em;
  background-color: #4695f5;
  position: absolute;
  transition: 0.2s;
  transform: translateY(-0.5em);
  border-radius: 2.5em;
}
:hover > .elevator-button2 .elevator-button-layer2 {
  background-color: #4d99f5;
}
:active > .elevator-button2 .elevator-button-layer2 {
  transform: translateY(-0.25em);
}
.elevator-button2 .elevator-button-layer3 {
  width: 5em;
  height: 5em;
  background-color: #4e9af5;
  position: absolute;
  transition: 0.2s;
  transform: translateY(-1em);
  border-radius: 2.5em;
}
:hover > .elevator-button2 .elevator-button-layer3 {
  background-color: #59a0f6;
}
:active > .elevator-button2 .elevator-button-layer3 {
  transform: translateY(-0.5em);
}
.elevator-button2 .elevator-button-layer4 {
  width: 5em;
  height: 5em;
  background-color: #579ef6;
  position: absolute;
  transition: 0.2s;
  transform: translateY(-1.5em);
  border-radius: 2.5em;
}
:hover > .elevator-button2 .elevator-button-layer4 {
  background-color: #65a7f7;
}
:active > .elevator-button2 .elevator-button-layer4 {
  transform: translateY(-0.75em);
}
.elevator-button2 .elevator-button-layer5 {
  width: 5em;
  height: 5em;
  background-color: #5fa3f6;
  position: absolute;
  transition: 0.2s;
  transform: translateY(-2em);
  border-radius: 2.5em;
}
:hover > .elevator-button2 .elevator-button-layer5 {
  background-color: #71aef7;
}
:active > .elevator-button2 .elevator-button-layer5 {
  transform: translateY(-1em);
}

.tooltip2 {
  position: absolute;
  bottom: 6.5em;
  left: 8.85em;
  z-index: 2;
  width: 10em;
  height: 10em;
  opacity: 0;
  transition: 0.2s;
}
:hover > .tooltip2 {
  opacity: 1;
}
.tooltip2 .info-bubble {
  height: 8em;
  width: 12.5em;
  animation: info-bubble 0.5s infinite linear;
}
.tooltip2 p {
  position: absolute;
  top: -0.75em;
  left: 0em;
  font-size: 1.6em;
  height: 3.5em;
  width: 7.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@keyframes info-bubble {
  0% {
    background: url("svg/info1.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  33% {
    background: url("svg/info2.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  66% {
    background: url("svg/info3.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  100% {
    background: url("svg/info1.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/*# sourceMappingURL=styles.css.map */
